
@{
    ViewBag.Title = "Index";
}
<div id="firstSection">
    <h1 id="parallax-bg4">
        Sebastian Kotljarevski<br>
        Fullstack developer
    </h1>
    <div id="centerAngleDown">
        <a id="angleDown" href="#down" target="_top"><span class="fa fa-angle-down"></span></a>
    </div>
</div>
<a id="down"></a>

<div id="secondSection">
    <h2 id="parallax-bg4">
        Teknisk sammanfattning
    </h2>

    <p id="secondSectionText">
        ASP.NET MVC Framework, C#, JavaScript, jQuery, <br />HTML, CSS/LESS/Sass, MySQL, Bootstrap,
        Node.js, Microsoft Azure Web hosting, Azure SQL Databases,<br /> Umbraco CMS, Git, Github,
        Visual Studio Team Services, Trello.

    </p>
</div>

<div id="parallax-bg1">
    <img id="bg1-1" src="~/Pictures/controlxbox.svg" />
    <img id="bg1-2" src="~/Pictures/coin.svg" />
    <img id="bg1-3" src="~/Pictures/memory.svg" />
    <img id="bg1-4" src="~/Pictures/mariobox.svg" />
</div>

<div id="parallax-bg2">
    <img id="bg2-1" src="~/Pictures/mariobox.svg" />
    <img id="bg2-2" src="~/Pictures/memory.svg" />
    <img id="bg2-3" src="~/Pictures/potion.svg" />
    <img id="bg2-4" src="~/Pictures/controlxbox.svg" />
    <img id="bg2-5" src="~/Pictures/coin.svg" />

</div>

<div id="parallax-bg3">
    <img id="bg3-1" src="~/Pictures/cross.svg" />
    <img id="bg3-2" src="~/Pictures/circle.svg" />
    <img id="bg3-3" src="~/Pictures/triangle.svg" />
    <img id="bg3-4" src="~/Pictures/cross.svg" />
</div>

<script>
    $('a[href*="#"]:not([href="#"])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 2000);
                return false;
            }
        }
    });
</script>