
@{
    ViewBag.Title = "Index";
}

<div id="parallax1">
    <div id="firstSection"></div>
</div>

<div id="parallax2">
    <div id="secondSection">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel commodo tortor. In lorem sapien, placerat sed tortor accumsan, iaculis gravida ligula. In luctus mi at nulla porttitor condimentum. Etiam ex nibh, laoreet a tincidunt eu, porta id orci. Maecenas ornare, nisi at dapibus euismod, nisi augue eleifend odio, a ullamcorper lectus lacus nec nulla. Vivamus risus orci, congue iaculis molestie a, venenatis nec nisi. Nam mollis tincidunt velit, sit amet laoreet turpis gravida eu.

            Nunc sapien metus, ornare eu quam ac, ornare consectetur justo. Nulla at laoreet ipsum. Phasellus eget sodales dui, sed elementum risus. Quisque id nisi ac diam congue volutpat. Fusce sed est ac urna consectetur rutrum. Duis non interdum massa. Etiam dapibus, dolor at accumsan imperdiet, ligula ipsum aliquet nunc, convallis ultricies augue nunc vitae lacus. Aenean ultrices tempus mi, quis suscipit nulla malesuada eu. Aenean ac imperdiet neque. Sed lectus nisl, molestie sed libero eu, finibus eleifend nibh. Curabitur congue ultrices nisl, vel semper nibh.

            Fusce rhoncus nulla id viverra dignissim. Ut tempor ligula interdum tempus aliquam. Donec pellentesque euismod risus, sed consequat ante pulvinar sit amet. Etiam quis consequat purus. Suspendisse eget turpis et nisl pretium tempus nec non quam. Integer porta consequat urna in placerat. Donec finibus, augue sit amet convallis consectetur, libero tortor tempus nisl, sit amet condimentum erat tortor eget magna. Ut auctor sed elit vel elementum. Nullam imperdiet non arcu vitae varius. Sed lectus purus, lobortis at mi non, scelerisque vestibulum sapien.

            Aliquam tincidunt nibh volutpat lacus lacinia eleifend eget ut quam. Donec id risus tempor, ultricies elit vitae, auctor tortor. In sit amet mauris vitae lorem tincidunt pretium. Nullam suscipit vel purus at gravida. Vivamus maximus, lectus et congue mattis, ipsum felis elementum nunc, nec mattis est diam quis lacus. Aliquam sagittis turpis efficitur maximus fermentum. Suspendisse iaculis tellus eget orci eleifend, sed pellentesque felis rhoncus. Praesent nec lorem urna. Phasellus justo metus, suscipit in dapibus ac, auctor sit amet dui. Suspendisse quis magna nisi. Praesent hendrerit augue nunc, et mollis diam convallis et. Nulla felis mi, pharetra et congue at, fringilla id est. Etiam ornare arcu eget elit sodales mattis.

            Donec sit amet dictum elit. Mauris nec libero feugiat, tempor tortor eu, pulvinar nunc. Suspendisse pharetra tortor ligula, ac tristique eros convallis id. Nulla non venenatis nunc, ut semper felis. Nullam aliquet ultrices mollis. Integer vehicula diam eu tincidunt luctus. Aliquam vel porta ipsum.
        </p>
    </div>
</div>

<div id="parallax3">
    <div id="firstSection"></div>
</div>

<div id="parallax4">
    <img id="MarioBox" src="~/Pictures/mariobox.svg" width="100" />
</div>

<div id="parallax4">
    <img id="ClickMe" src="~/Pictures/ClickMe.svg" width="150" />
</div>