
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="aboutme">
        <i class="fa fa-user-circle-o fa-5x"></i>
        <div class="AboutmeText">
            <h1>About me</h1>
        </div>
            <p>I am a Swedish software developer with a passion for programming. In my work i always strive to <strong>communicate</strong> and be <strong>agile</strong> whether i am working with my team or a customer.
               I always try to create the best work by good <strong>planning</strong> and a reasonable <strong>scope</strong>, there is nothing better than knowing exactly what has to be done and just start writing the code. Because that is what we love, right?</p>  
    </div>

    <div class="myskills">
        <i class="fa fa-code-fork fa-5x"></i>
            <div class="MyskillsText">
                <h1>My skills</h1>
            </div>
        <p>I have experience with programming languages such as <strong>C#</strong>, <strong>JavaScript</strong> and <strong>Java</strong>. I also have basic experience working with the platform <strong>Microsoft Azure</strong> for hosting WebApps and creating databases.
           I am familiar working with <strong>MySql</strong>, <strong>Html</strong>, <strong>CSS</strong>, <strong>Bootstrap</strong> and <strong>FontAwesome</strong>. Whilst working on several different team projects i have had the opportunity to use, learn and develop the <strong>agile</strong> mindset,
           version control systems, communication tools and standard practices. i am confident in my ability to learn new skills upon demand.
        </p>
    </div>
</div>

