
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="aboutme">
        <i class="fa fa-user fa-5x"></i>
        <div class="AboutmeText">
            <h1>About me</h1>
        </div>
            <p>I am a Swedish software developer with a passion for programming. In my work i always strive to <strong>communicate</strong> and be <strong>agile</strong> whether i am working with my team or a customer.
               I always try to create the best work by good <strong>planning</strong> and a reasonable <strong>scope</strong>, there is nothing better than knowing exactly what has to be done and just start writing the code. Because that is what we love, right?</p>  
    </div>
</div>

