body {
    padding-top: 0px;
    padding-bottom: 0px; 
    background-color: #7289da;
}

#firstSection {
    background-image: url('../pictures/alex-siale-95113.jpg');
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
}

#angleDown {
    font-size: 150px;
    color: white;
}

#centerAngleDown {
    text-align: center;
}


p {
    font-family: 'Lato', serif;
    margin: 0 auto;
    max-width: 50em;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 40vh;
    font-weight: bold;
    z-index: 4;
}

#parallax-bg4 {
    z-index: 3;
    position: relative;
}

#parallax-bg3 {
    z-index: 3;
    position: relative;
    left: 50%;
    top: 0;
    width: 940px;
    margin-left: -470px;
}

#bg3-1 {
    position: relative;
    top: -111px;
    left: 355px;
}

#bg3-2 {
    position: relative;
    top: 812px;
    left: 321px;
}

#bg3-3 {
    position: relative;
    top: 1628px;
    left: 403px;
}

#bg3-4 {
    position: relative;
    top: 2700px;
    left: -85px;
}

#parallax-bg2 {
    z-index: 2;
    position: relative;
    left: 50%;
    top: 0;
    width: 1200px;
    margin-left: -600px;
}

#bg2-1 {
    position: relative;
    top: 162px;
    left: 200px;
}

#bg2-2 {
    position: relative;
    top: 300px;
    left: 1150px;
}

#bg2-3 {
    position: relative;
    top: 543px;
    left: -35px;
}

#bg2-4 {
    position: relative;
    top: 1180px;
    left: 250px;
}

#bg2-5 {
    position: relative;
    top: 900px;
    left: 890px;
}

#parallax-bg1 {
    z-index: 1;
    position: relative;
    left: 50%;
    top: 0;
    width: 1200px;
    margin-left: -600px;
}

#bg1-1 {
    position: relative;
    top: 85px;
    left: -270px;
}

#bg1-2 {
    position: relative;
    top: 440px;
    left: 795px;
}

#bg1-3 {
    position: relative;
    top: 900px;
    left: -220px;
}

#bg1-4 {
    position: relative;
    top: -2150px;
    left: 190px;
}

#f {
    z-index: 1;
}
