<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="intro-container">
        <img class="intro-background" />
        <div class="intro-content">
            <div class="intro-header">
                <h2>Sebastian</h2>
                <h2>Kotljarevski</h2>
                <i>Software developer</i>
                <i class="fa fa-angle-down fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="text">
        @RenderBody()

    </div>
    <footer>
        <div class="containerFooter">
            <div class="footerBackground">
                <h1 style="color: #ffd800;">Contact</h1>
                <div class="phoneandmail">
                    <i class="fa fa-phone fa-5x grey"> +46 (0) 761 1340 076</i>
                    <br />
                    <i class="fa fa-envelope"> Kvakod@gmail.com</i>
                </div>

                <div class="GithubLinkedin">
                    <a href="https://github.com/SebastianKullander">
                        <i class="fa fa-github fa-5x grey"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sebastian-kullander-9922b9133/">
                        <i class="fa fa-linkedin-square fa-5x grey"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>