
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <p><a href="/">HOME</a></p>
    <p><a href="/Home/About">ABOUT</a></p>

    <link href="~/Main.css" rel="stylesheet" />

    <div><p1>Jag har nu gått T4 i 5 veckor och har fått en grundläggande kunskap inom c#, mestadelen av programmen vi gjort är i Konsol applikationer och i webforms. 
             Ni kan se alla mina nuvarande och framtida projekt i github länken nedan!</p1></div>
    <p3><a href="https://github.com/T4-1617/SebastianKullander" target="_blank">Github</a></p3>
    <div><p4>Målet för mig med utbildningen är att kunna få ett jobb inom programmering och möjligvis plugga vidare inom samma spår. Som jag nämnde tidigare har jag just nu bara grundläggande kunskaper inom c# men vill gärna påbättra min kunskaper inom c#.
             Mina tidigare Kunskaper är Webbserverprogrammering, Webbutveckling, Gränssnittsdesign och Programmering 1</p4></div>
    


</body>
</html>
