
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p><a href="/">HOME</a></p>
    <p><a href="/Home/About">ABOUT</a></p>

    <link href="~/Main.css" rel="stylesheet" />

    <div><p>Välkommen till min hemsida! jag heter Sebastian Kullander och jag är 19 vårar ung! Mina tidigare utbildningar är en 3årig teknisk utbilding inriktat på information o media,
            Just nu pluggar jag fjärde året på Östra Gymnasiet vilket innefattar mycket programmering. </p></div>
            
</body>
</html>
